* {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}

body {
    background-color: #E0A380;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

header img {
    width: 120px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

h1, h2 {
    margin-bottom: 20px;
}

.inputBox {
    height: 30px;
    width: 300px;
    border: 1px solid black; 
    border-radius: 6px;
    margin-bottom: 10px;
}

.informacoes, .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    padding: 15px;
    font-size: 1.5rem;
    background-color: #DE3209;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #de7c09;
}

.container {
    background-color: white;
    padding: 5% 10%;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}
