* {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}

body {
    background-color: #E0A380;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

form, img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

img {
    height: 20%;
    width: 20%;
}

form {
    gap: 16px;
}

.inputBox {
    height: 30px;
    width: 300px;
    border: 1px solid black; 
    border-radius: 12px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;

}

button {
  padding: 15px;
  font-size: 1.5rem;
  background-color: #DE3209;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover{
  background-color: #de7c09;

}
#EsqueciASenha {
    display: flex;
}