* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E0A380; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #fff;
    padding: 1rem 2rem;
    width: 100%;
}

.div_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.perfil-container {
    display: flex;
    flex: 1; 
    width: 100%;
}

.sidebar {
    width: 350px; 
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    border-right: 2px solid #DE7C09;}

.foto-perfil {
    width: 220px;
    height: 220px;
}

.status-online {
    width: 25px;
    height: 25px;
    background-color: #DE7C09;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 15px;
    border: 3px solid white;
}

.nome-usuario {
    margin-top: 1.5rem;
    padding: 10px 30px;
    background-color: #DE3209; 
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.menu-perfil{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}


.conteudo-principal {
    flex: 1;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.bloco-info {
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    font-size: 2rem;
    color: #333;
    border-left: 10px solid #DE7C09;
}


