body {
  background-color: #E0A380;
}

header {
  display: flex;
  justify-content: center;
}

.logo {
  width: auto;
  height: 20rem;
  border-radius: 500px;
  background-color: none;
}

.sobreNos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobreNos_titulo {
  font-size: 3rem;
}

.sobreNos_texto {
  font-size: 2rem;
  width: 70rem;
  background-color: aliceblue;
  padding: 1.5rem;
  border-radius: 1rem;

  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;

}

.talentos {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}


.formularios {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 40px 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 70rem;
  gap: 20px;
}

form div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

input {
  padding: 12px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 15px;
  font-size: 1.5rem;
  background-color: #DE3209;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #de7c09;

}


footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

address {
  display: flex;
  justify-content: center;
}

.redes_sociais {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.redes_sociais_icones {
  width: auto;
  height: 2.5rem;
}
